body{
    h1{
        text-align: center;
        border-bottom: 3px solid black;
    }
    h2{
        border-bottom: 3px solid black;
    }
    /* Định dạng chung cho bảng */
table {
    width: 100%;
    border-collapse: separate; /* Sử dụng border-spacing */
    border-spacing: 20px; /* Khoảng cách giữa các cột */
    margin-bottom: 20px; /* Thêm khoảng cách dưới bảng */
}

/* Định dạng chung cho các ô trong bảng */
th, td {
    padding: 1px; /* Khoảng cách bên trong các ô bảng */
    text-align: left; /* Căn trái cho văn bản */
}

/* Định dạng cho các danh sách trong ô bảng */
table td ul {
    /* list-style-type: none; Loại bỏ ký hiệu đầu dòng */
    padding-left: 0; /* Loại bỏ khoảng cách trái */
}

table td ul li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục trong danh sách */
}
.inline-list-item {
    display: inline; /* Hiển thị các mục trên cùng một dòng */
    margin-right: 1px; /* Khoảng cách giữa các mục */
}
/* Định dạng cho địa điểm */
.bullet {
    margin-right: 5px;
    font-weight: bold; 
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    line-height: 1px;
   
}

.right-align {
    margin-left: auto; /* Đẩy phần tử sang lề phải */
}



}