body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div{
    width: 400px;
}
img{
    max-width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-image {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.career-objective, .skill-highlights, .education, .technical-skills, .certifications, .projects, .achievements {
    border-bottom: 1px solid #ccc;
}
h2{
    text-align: center;
    background-color: rgb(215, 213, 213);
}